
<div class="container">
<div class="col-md">
<h1>Latest Bus Posts:</h1>
<hr>
<div (click)="toBusDetail(bus)" class="panel-group" *ngFor="let bus of list">
   <article class="panel panel-success">
    <div class="panel-heading">
       <strong>{{bus.from}} To {{bus.to}}</strong>
    </div>
    <div class="panel-body">
    <strong>Travel Date: {{bus.date}}</strong><br><br>
    <strong>Departure Time: {{bus.DepTime}}</strong><br><br>
    <strong>Destination Time: {{bus.ReachBy}}</strong><br><br>
    <strong>Tickets Available: {{bus.tickets}}</strong>
    </div>
    <footer class="panel-footer">
        <div class="author">
            <strong>PostedBy : </strong> {{bus.PostedBy}}
        </div>
        <!--<div class="config">
           <button type="button" class="btn btn-info">Contact : <strong>{{bus.phone}}</strong></button>
        </div>-->
    </footer>
    </article>
</div>
</div>
</div>
<div class="container">
<div class="col-md">
<h1>Recently Added Bus Tickets:</h1>
<hr>
<div (click)="toBusDetail(bus)" class="panel-group" *ngFor="let bus of recentBuslist">
   <article class="panel panel-success">
    <div class="panel-heading">
       <strong>{{bus.from}} To {{bus.to}}</strong>
    </div>
    <div class="panel-body">
    <strong>Date: {{bus.date}}</strong><br><br>        
    <strong>Departure Time: {{bus.DepTime}}</strong><br><br>
    <strong>Destination Time: {{bus.ReachBy}}</strong><br><br>
    <strong>Tickets Available: {{bus.tickets}}</strong>
    </div>
    <footer class="panel-footer">
        <div class="author">
            <strong>PostedBy : </strong> {{bus.PostedBy}}
        </div>
    </footer>
    </article>
</div>
</div>
</div>