<h2>About Our Site</h2>
<hr>
<div class="col-md">
  <section>
  Many times it is so common among us, wanting to go to a movie at the last minute. No tickets booked nor with any upfront planning…. At the same time it is also quite often we see, tickets being over booked by folks with an intent to go but couldn’t cause of some urgent matters, last minute fire drills or change of plans. Either case it’s evident that us folks either fall short of getting tickets successfully or turn back losing money vice versa.
  </section>
  <br>
  <section> 
  Helping all the busy lives, we are introducing our latest platform infusion, an easy solution as an accessory to every person related to the movie genre. Help yourself or a friend, neighbor, co-worker to realize the value of their money, to who is committed to invest their time in watching a movie.
  </section>
  <br>
<br>
<section>
<b>What is so special in our Site?</b>
<br>
<br>
<p>
Its FREE<br>
100% your own decision and choice<br>
Last minute deal maker<br>
And most of all Your Hope<br>
</p>
</section>
<br>
<br>
<section>
<b>Who should bookmark our site?</b>
<br>
<br>
<p>
Movie lovers<br>
Busy workers<br>
Non-planners<br>
Last minute deal makers<br>
Lucky people<br>
</p>
</section>
<br>
<section>
<b>Visit our site if you…..</b>
<br>
<br>
<p>
want to buy/sell a last minute ticket<br>
have over booked tickets (even by mistake) and want to cancel/sell them<br>
somehow got yourself into booking tickets with wrong date<br>
got an emergency so not able to make it to the booked show<br>
have booked few extra tickets for friends & family<br>
are an event manager who effectively want to manage event tickets<br>
or simply looking to give friends and family, a movie viewing surprise/gift<br>
</p>
</section> 
</div>
<br>
<br>