<div class="container">
<div class="col-md-4 col-md-offset-4">
<h1>Latest Movie Posts:</h1>
<hr>
<ul id="display-inline-block" class="panel-group" *ngFor="let movie of list">
<li (click)="toMovieDetail(movie)"id="display-inline-block"><article class="panel panel-info">
    <div class="panel-heading">
       <strong>{{movie.name}}</strong>
    </div>
    <div class="panel-body">
    <strong>ShowTime: {{movie.ShowTime}}</strong><br>
    <strong>Tickets Available: {{movie.tickets}}</strong>
    </div>
    <footer class="panel-footer">
        <div class="author">
            <strong>PostedBy:</strong>{{movie.PostedBy}}
        </div>
        <div class="config panelfooterright">
           <button type="button" class="btn btn-info">Contact : <strong>{{movie.phone}}</strong></button>
        </div>
    </footer>
</article></li>
</ul>
</div>
</div>

<div class="container">
<div class="col-md-4 col-md-offset-4">
<h1>Recently Added Bus Tickets:</h1>
<hr>
<ul id="display-inline-block" class="panel-group" *ngFor="let bus of buslist">
<li (click)="fromRecentposttoBusDetail(bus)">
   <article class="panel panel-info">
    <div class="panel-heading">
       <strong>{{bus.from}} To {{bus.to}}</strong>
    </div>
    <div class="panel-body">
    <strong>Departure Time: {{bus.DepTime}}</strong><br>
    <strong>Destination Time: {{bus.ReachBy}}</strong><br>

    <strong>Tickets Available: {{bus.tickets}}</strong>
    </div>
    <footer class="panel-footer">
        <div class="author">
            <strong>PostedBy:</strong>{{bus.PostedBy}}
        </div>
        <div class="config">
           <button type="button" class="btn btn-info">Contact : <strong>{{bus.phone}}</strong></button>
        </div>
    </footer>
    </article>
  </li>
</ul>
</div>

<!--<div class="container">
<div class="col-md-4 col-md-offset-4">
<h1>Recently Added Movie Tickets:</h1>
<hr>
<ul id="display-inline-block" class="panel-group" *ngFor="let movie of movielist">
<li (click)="toMovieDetail(movie)" id="display-inline-block"><article class="panel panel-info">
    <div class="panel-heading">
       <strong>{{movie.name}}</strong>
    </div>
    <div class="panel-body">
    <strong>ShowTime: {{movie.ShowTime}}</strong><br>
    <strong>Tickets Available: {{movie.tickets}}</strong>
    </div>
    <footer class="panel-footer">
        <div class="author">
            <strong>PostedBy:</strong> {{movie.PostedBy}}
        </div>
        <div class="config panelfooterright">
           <button type="button" class="btn btn-info">Contact : <strong>{{movie.phone}}</strong></button>
        </div>
    </footer>
</article></li>
</ul>
</div>
</div>-->