

<div *ngIf="selectedRecentmovie">
<h2>DATE:{{this.selectedRecentmovie.date}}</h2> 
<h2>SHOWTIME:{{this.selectedRecentmovie.ShowTime}}</h2> 
<h2>No.of Tickets:{{this.selectedRecentmovie.tickets}}</h2>
<h2>Total Price:{{this.selectedRecentmovie.cost}}</h2>
<h2>Mobile:{{this.selectedRecentmovie.phone}}</h2>
</div>


<div class="container">
    <div class="row" *ngIf="selectedmovie">
        <h1 class="col-md-6 col-md-offset-4 ">Movie Details:</h1>
        <div class="col-md-6">
            <label class="col-md-4">
             Movie Name:   
            </label>
          <div class="col-md-8">
              {{this.moviename}}
          </div>
        </div>
        <div class="col-md-6">
            <label class="col-md-4">
             Date:   
            </label>
          <div class="col-md-8">
              {{this.selectedmovie.date}}
          </div>
        </div>
        <div class="col-md-6">
            <label class="col-md-4">
             Tickets: 
            </label>
          <div class="col-md-8">
              {{this.selectedmovie.tickets}}
          </div>
        </div>
         <div class="col-md-6">
             <label class="col-md-4">
             Total Price:   
            </label>
          <div class="col-md-8">
              {{this.selectedmovie.cost}}
          </div>
        </div> 
         <div class="col-md-6">
             <label class="col-md-4">
             Contact:   
            </label>
          <div class="col-md-8">
              {{this.selectedmovie.phone}}
          </div>
        </div> 
    </div>
</div>

<div class="container">
    <div class="row"*ngIf="selectedRecentmovie">
        <h1 class="col-md-6 col-md-offset-4 ">Movie Details:</h1>
        <div class="col-md-6">
            <label class="col-md-4">
             Movie Name:   
            </label>
          <div class="col-md-8">
              {{this.moviename}}
          </div>
        </div>
        <div class="col-md-6">
            <label class="col-md-4">
             Date:   
            </label>
          <div class="col-md-8">
              {{this.selectedRecentmovie.date}}
          </div>
        </div>
        <div class="col-md-6">
            <label class="col-md-4">
             Tickets: 
            </label>
          <div class="col-md-8">
              {{this.selectedRecentmovie.tickets}}
          </div>
        </div>
         <div class="col-md-6">
             <label class="col-md-4">
             Total Price:   
            </label>
          <div class="col-md-8">
              {{this.selectedRecentmovie.cost}}
          </div>
        </div> 
         <div class="col-md-6">
             <label class="col-md-4">
             Contact:   
            </label>
          <div class="col-md-8">
              {{this.selectedRecentmovie.phone}}
          </div>
        </div> 
    </div>
</div>